$clr-gray: #808080;
$clr_white: #FFFFFF;
$side_panel_bg: #223f67;
$side_panel_hover_bg: #223f67;
$primarybtn_bg: #223f67;
$primarybtn_text: $clr_white;
$primarybtn_hover_bg: #313b70;
$primarybtn_hover_text: $clr_white;
$primarybtn_disabled_bg: rgb(168, 168, 168, 0.7);
$primarybtn_disabled_text: $clr_white;
$secondarybtn_bg: var(--secondaryButtonBg);
$secondarybtn_text: $clr_white;
$secondarybtn_hover_bg: var(--secondaryButtonBg);
$secondarybtn_hover_text: $clr_white;
$secondarybtn_disabled_bg: rgb(168, 168, 168, 0.7);
$secondarybtn_disabled_text: $clr_white;
$thirdbtn_bg: $clr-gray;
$thirdbtn_text: $clr_white;
$thirdbtn_hover_bg: rgb(168, 168, 168, 0.7);
$thirdbtn_hover_text: $clr_white;
$thirdbtn_disabled_bg: rgb(168, 168, 168, 0.7);
$thirdbtn_disabled_text: $clr_white;
$clr-white: $clr_white;
$clr-black: #000000;
$table_header_bg: #223f67;
$table_header_text: $clr_white;
$table_row_odd: $clr_white;
$table_row_even: rgba(242, 242, 242, 0.2);
$table_row_hover: #dddddd;
$table_border: #dddddd;
$border: #223f67;